---
---

{% include header.html %}

<script>
  $(function() {
    $('#toggle').click(function() {
      var nav = $('nav')
      // Show menu
      if (nav.hasClass('hidden')) {
        nav.removeClass('hidden')
        $('#hamburger').addClass('hidden')
        $('#close').removeClass('hidden')
      // Hide menu
      } else {
        nav.addClass('hidden')
        $('#close').addClass('hidden')
        $('#hamburger').removeClass('hidden')
      }
    })
  })
</script>

<main class="flex min-h-screen w-full font-serif">
  <div class="absolute p-2 right-0 rounded m-4 shadow cursor-pointer hover:shadow-md z-50 md:hidden bg-white" id="toggle">
    <div id="hamburger">
      <div class="w-8 bg-gray-500 rounded-full" style="height: 2px; margin-bottom: 6px;"></div>
      <div class="w-8 bg-gray-500 rounded-full" style="height: 2px; margin-bottom: 6px;"></div>
      <div class="w-8 bg-gray-500 rounded-full" style="height: 2px;"></div>
    </div>
    <div id="close" class="hidden">
      <img class="w-6 h-6" src="{{ site.baseurl }}/images/x.svg">
    </div>
  </div>
  <nav class="absolute inset-0 h-screen hidden z-40 md:relative md:w-64 md:block" style="flex: 0 0 16rem;">
    <div class="fixed flex flex-col inset-0 p-6 bg-gray-100 border-r border-gray-300 md:w-64">
      <div class="flex-grow space-y-3">
        <a href="/" class="block text-3xl font-bold leading-snug">Alyssa & Stuart's Wedding</a>
        <ul class="text-lg space-y-1">
          <li>
            <a class="inline-block w-full py-2 px-3 rounded-md hover:bg-white hover:shadow {% if page.url == '/' %}bg-white shadow{% endif %}" href="/">💍 Our Wedding</a>
          </li>
          <li>
            <a class="inline-block w-full py-2 px-3 rounded-md hover:bg-white hover:shadow {% if page.url == '/shared-album' %}bg-white shadow{% endif %}" href="/shared-album">🌄 Shared Album</a>
          </li>
          <li>
            <a class="inline-block w-full py-2 px-3 rounded-md hover:bg-white hover:shadow {% if page.url == '/registry' %}bg-white shadow{% endif %}" href="/registry">🎁 Registry</a>
          </li>
          <li>
            <a class="inline-block w-full py-2 px-3 rounded-md hover:bg-white hover:shadow {% if page.url == '/bridal-party' %}bg-white shadow{% endif %}" href="/bridal-party">👨‍👩‍👧‍👦 Bridal Party</a>
          </li>
          <li>
            <a class="inline-block w-full py-2 px-3 rounded-md hover:bg-white hover:shadow {% if page.url == '/hotels' %}bg-white shadow{% endif %}" href="/hotels">🛌 Hotels</a>
          </li>
          <li>
            <a class="inline-block w-full py-2 px-3 rounded-md hover:bg-white hover:shadow {% if page.url == '/airports' %}bg-white shadow{% endif %}" href="/airports">🛬 Airports</a>
          </li>
          <li>
            <a class="inline-block w-full py-2 px-3 rounded-md hover:bg-white hover:shadow {% if page.url == '/things-to-do' %}bg-white shadow{% endif %}" href="/things-to-do">🧭 Things To Do</a>
          </li>
          <li>
            <a class="inline-block w-full py-2 px-3 rounded-md hover:bg-white hover:shadow {% if page.url == '/photos' %}bg-white shadow{% endif %}" href="/photos">📸 Photos</a>
          </li>
        </ul>
      </div>
      <img class="w-full max-w-xs mx-auto" src="{{ site.baseurl }}/images/green-flowers.png">
    </div>
  </nav>
  <section class="relative w-full">
    <!-- <img class="absolute top-0 left-0 z-10 w-40 p-4" src="{{ site.baseurl }}/images/corner-left.png"> -->
    <!-- <img class="absolute top-0 right-0 z-10 w-40 p-4" src="{{ site.baseurl }}/images/corner-right.png"> -->
    <div class="flex min-h-screen flex-col">
      <div class="flex-1 flex flex-col mx-auto p-8 max-w-4xl w-full">
        <div class="w-full">
          {{ content }}
        </div>
      </div>
      <div class="w-full text-center p-4 pin-b">
        <div class="text-center text-gray-700 p-4">Have questions about the wedding? Email us at <a class="text-link" href="mailto:alyssastuartwedding@gmail.com">alyssastuartwedding@gmail.com</a></div>
      </div>
    </div>

  </section>
</main>

{% include footer.html %}
